
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    background-color: gainsboro;
}

.page-container {
    width: 80%;
    margin: 10px auto;
    padding: 32px;
    background-color: #c8c8c8;
    border-radius: 25px;

}

form {
    width: 100%;
}
form fieldset {
    width: 400px;
    margin: 5px;
}
form fieldset label {
    width: 100px;
}
form fieldset input {
    width: 150px;
    margin-left: 10px;
}